<div class="container px-2 pb-5 mb-5">
  <div class=" my-4 mx-3 row d-flex justify-content-start">
    <h2>ジャンル編集</h2>
  </div>
  <div class="row mx-3 d-flex justify-content-start my-5 pb-5">
    <%= form_with(model: @genre,url: admin_genre_path,local: true, class: "form-group d-flex justify-content-center w-50") do |f| %>
      <%= f.label :name,"ジャンル名", class: "font-weight-bold control-label" %>
      <%= f.text_field :name, class: "form-control w-50 mx-auto" %>
      <%= f.submit "変更を保存", class: "btn btn-success d-block" %>
    <% end %>
  </div>
</div>