<!-- md以上用 vertical-->

<div class="list-group col-2 d-md-block d-none small">

  <li class="list-group-item list-group-item-success">ジャンル検索</li>
  <% genres.each do |genre| %>
    <li class="list-group-item">
      <%= link_to(genre.name, items_path(genre_id: genre.id), class: "text-success") %>
    </li>
  <% end %>
</div>

